:root{ 
  --white-color:#fff;
  --white-two:#f1f3f7;
  --white-three:#f6f6f6;
  --blue-color:rgba(47, 134, 214, 1);
  --blue-color-two:#23303E;
  --gray-color:#a89f9f;
  --gray-color-two:#F1F3F7;
  --dark-blue-color:#233032;
}